@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    overflow-x: hidden;
}

.main{
    display: flex;
}

.sidebar{
    height: 100vh;
    width: 20%;
    display:flex;
    flex-direction: column;
    border-right: 1px solid #dbdbdb;
}

.sidebar>ul{
    list-style-type: none;
    margin-top: 30px;
}

.sidebar>ul>li{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
}

.sidebar>ul>li>img{
    padding-right: 16px;
}

.sidebar>img{
    width: 103px;
    margin:40px 0px 0px 24px;
}

.main_container{
    width: 80%;
    overflow: hidden;
    overflow-y: auto;
    padding: 30px;
    position: relative;
    height: 100vh;
    -webkit-overflow-scrolling: touch;
}

.stories_section{
    display: flex;
    width: 30%;
    justify-content: space-between;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.stories_section::-webkit-scrollbar {
    display: none;
}

.story_image>img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.story>p{
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.12px;
}

.story{
    display: flex;
    align-items: center;
    flex-direction: column;

}

footer{
    width: 319px;   
    position: absolute;
    top:51px;
    right: 46px;
}

.user_profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user_profile_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_profile_left>img{
    border-radius: 50%;
    width: 56px;
    height: 56px;
    margin-right: 17px;
}

.user_profile_left>div>h4{
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.user_profile_left>div>p{
    color: #8e8e8e;
    font-size: 14px;
    line-height: 18px;
}

.user_profile>a{
    color: #0095f6;
    font-size: 11px;
    text-decoration: none;
    line-height: 16px;
    font-weight: 600;
    text-align: center;

}

.footer_suggestions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.footer_suggestions>h5{
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #8e8e8e;
}

.footer_suggestions>a{
    font-size: 11px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
}


.suggestions_div_left>img{
    width: 32px;
    border-radius: 50%;
    height: 32px;
    margin-left: 4px;
}

.suggestions_div{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.suggestions_div_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 17px;

}

.suggestions_div_left>div>h4{
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;

}

.suggestions_div_left>div>p{
    font-size: 11px;
    line-height: 16px;
    color: #8e8e8e;
}

.suggestions_div>a{
    color: #0095f6;
    font-size: 11px;
    text-decoration: none;
    line-height: 16px;
    font-weight: 600;
    text-align: center;
}

.user_suggestions{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer_links>a{
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #c7c7c7;
}

.footer_copyright{
    color: #c7c7c7;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 20px;
}

.footer_links{
    margin-top: 24px;
}

.user_image>img{
    width: 32px;
    border-radius: 50%;
}

.post{
    width:460px;
    margin-left: 5%;
    margin-top: 32px;
}

.post_header{
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
    padding: 8px 0px 8px 5px;
}
 
.post_header>div{
    display: flex;
    align-items: center;
}

.header_username{
    margin-left: 10px;
    margin-right: 4.06px;
}

.header_time{
    color: #8e8e8e;
    font-size: 14px;
    line-height: 18px;
    margin-left: 6px;
}

.post_image>img{
    width: 100%;
}

.post_buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    width: 100%;
    height: 46px;
    align-items: center;
   
}

.post_buttons>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.post_footer{
    padding-bottom: 21px;
    border-bottom: 1px solid #dbdbdb;
}

.likes_count{
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
}

.caption{
    margin-top: 8px;
    font-size: 14px;
    line-height: 18px;
}

.translation_option{
    margin-top: 6px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}

.comment_count{
    margin-top: 5px;
    font-size: 13px;
    line-height: 18px;
    color: #8e8e8e;
}

.post_footer>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.post_footer>div>p{
    font-size: 14px;
    line-height: 18px;
}

@media screen and (max-width: 1175px){
    footer{
        display: none;
    } 
}

@media screen and (max-width: 1199px) {
    .sidebar {
        width: 15%;
    }
    
    .main_container {
        width: 85%;
    }
    
    .post {
        width: 100%;
        max-width: 460px;
        margin-left: 0;
    }
    
    .stories_section {
        width: 100%;
        max-width: 400px;
    }
}

@media screen and (max-width: 991px) {
    .sidebar {
        width: 80px;
        padding: 0 10px;
    }
    
    .sidebar > img {
        width: 30px;
        margin: 20px auto;
    }
    
    .sidebar > ul > li {
        padding: 15px 10px;
        justify-content: center;
        font-size: 0;
    }
    
    .sidebar > ul > li > img {
        padding-right: 0;
        width: 24px;
    }
    
    .main_container {
        width: calc(100% - 80px);
        padding: 20px;
    }
    
    .stories_section {
        width: 100%;
        overflow-x: auto;
        padding-bottom: 10px;
    }
    
    .story {
        min-width: 70px;
    }
}

@media screen and (max-width: 767px) {
    .main {
        flex-direction: column;
    }
    
    .sidebar {
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0;
        position: fixed;
        bottom: 0;
        background: white;
        z-index: 1000;
        border-top: 1px solid #dbdbdb;
        border-right: none;
    }
    
    .sidebar > img {
        display: none;
    }
    
    .sidebar > ul {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 0;
    }
    
    .sidebar > ul > li {
        padding: 10px;
        font-size: 0;
    }
    
    .sidebar > ul > li:nth-child(n+6) {
        display: none;
    }
    
    .main_container {
        width: 100%;
        padding: 15px;
        padding-bottom: 80px;
        height: calc(100vh - 60px);
    }
    
    .stories_section {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .post {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
    
    .post_header {
        padding: 12px 0;
    }
    
    .post_buttons {
        height: 40px;
    }
    
    .post_buttons > div {
        gap: 12px;
    }
}

@media screen and (max-width: 479px) {
    .main_container {
        padding: 10px;
    }
    
    .stories_section {
        gap: 10px;
    }
    
    .story {
        min-width: 60px;
    }
    
    .story_image > img {
        width: 48px;
        height: 48px;
    }
    
    .story > p {
        font-size: 11px;
    }
    
    .post {
        margin-top: 15px;
    }
    
    .post_header {
        padding: 8px 0;
    }
    
    .header_username {
        font-size: 13px;
    }
    
    .header_time {
        font-size: 12px;
    }
    
    .likes_count {
        font-size: 12px;
    }
    
    .caption {
        font-size: 13px;
    }
    
    .comment_count {
        font-size: 12px;
    }
}

footer{
    margin-right: 50px;
}
